<strong>Hello, {{ student }}</strong>
<p>You question has been answered!</p>
<p>
  <small>Check your answer below:</small> <br />
  <br />
  <strong>Question: </strong> {{ question }} <br />
  <strong>Answer: </strong> {{ answer }} <br />
  <strong>Answered at: </strong> {{ date }} <br />
  <br />
  <small>
    We hope that the answer was satisfactory, for any other questions, feel free to contact us again!
  </small>
</p>