<strong>Hello, {{ student }}</strong>
<p>You enrollment has been canceled.</p>
<p>
  <small>You will be able checkin until your membership is no longer valid:</small>
  <br />
  <strong>Membership expires at: </strong> {{ date }} <br />
  <br />
  <small>
    If you regret this decision, please feel free to contact us, we will be more than happy to welcome you back!
  </small>
</p>