<strong>Hello, {{ student }}</strong>
<p>You enrollment has been confirmed!</p>
<p>
  <small>You are now the newest member at GymPoint. Check some info about your enrollment below:</small> <br />
  <br />
  <strong>Subscription type: </strong> {{ subscription }} <br />
  <strong>Your membership expires at: </strong> {{ date }} <br />
  <strong>Total price: R$</strong> {{ price }} <br />
  <br />
  <small>
    We are glad to know that you chose us and we can't wait to see you achieving your objectives!
  </small>
</p>